# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Virtual environment folders
env/
venv/
environment/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Dataset files
data/
*.csv
*.tsv
*.xlsx
*.json

# Model files
models/
*.h5
*.pkl
*.joblib
*.pt

# Logs and temp files
logs/
*.log
*.tmp
*.temp

# System files
.DS_Store
Thumbs.db

# Other IDE or OS-specific files
.vscode/
.idea/
*.swp
